In [69]:
# SOURCE
SOURCE = "https://www.tesladeaths.com"

In [70]:
from requests_html import HTMLSession, Element

session = HTMLSession()
r: session = session.get(SOURCE)

Getting the `table` element that houses the data.

In [71]:
table: Element = r.html.find("#dttable", first=True)
table

Finding all row headers using `th` tag.

In [72]:
table_headers = table.find("th")[:12]
table_headers = [row.text for row in table_headers]
table_headers

['Case #',
 'Year',
 'Date',
 'Country',
 'State',
 'Description',
 'Deaths',
 'Tesla driver',
 'Tesla occupant',
 'Other vehicle',
 'Cyclists/ Peds',
 'TSLA+cycl / peds']

Collecting all data rows and excluding the last 350 since there is no usable data in there.

In [ ]:
table_data = table.find("tr")[1:]
# The first tr has all the headings

In [74]:
rows = [row.text.split("\n")[:12] for row in table_data]
for row in rows:
    print(row)

['458', '2024', '10/16/2024', 'USA', 'CA', 'Head-on collision', '1', '-', '-', '1', '-', '-']
['457', '2024', '10/15/2024', 'USA', 'CA', 'Tesla crashes into apartment building', '1', '1', '-', '-', '-', '1']
['456', '2024', '10/14/2024', 'Korea', '-', 'Tesla crashes, burns', '1', '1', '-', '-', '-', '1']
['455', '2024', '10/13/2024', 'France', '-', 'Tesla ignites for undetermined reason', '4', '1', '3', '-', '-', '4']
['454', '2024', '10/7/2024', 'Australia', '-', 'Head-on collision on highway', '1', '1', '-', '-', '-', '-']
['453', '2024', '10/5/2024', 'Mexico', '-', 'Tesla tries to pass, collides with van, fire, 3 dead', '3', '-', '-', '3', '-', '-']
['452.1', '2024', '10/2/2024', 'China', '-', 'Speeding Tesla hits three pedestrians', '3', '-', '-', '-', '3', '3']
['452', '2024', '9/27/2024', 'USA', 'IL', 'Tesla tries to pass, collides head on, kills other driver', '1', '-', '-', '1', '-', '-']
['451.1', '2024', '9/24/2024', 'USA', 'IL', 'Tesla crashes into guardrail', '1', '1', '-', '-', '-', '1']
['451', '2024', '9/24/2024', 'China', '-', 'Multi-car accident', '1', '-', '-', '1', '-', '-']
['450', '2024', '9/23/2024', 'Canada', '-', '3 Dead, 3 Injured, Crash Near Kitchener Ontario', '3', '1', '2', '-', '-', '3']
['449', '2024', '9/22/2024', 'USA', 'IN', 'Tesla drives into guardrail then ditch on straight road', '1', '1', '-', '-', '-', '-']
['448', '2024', '9/18/2024', 'USA', 'MI', 'Wrong-way driver crashes into Tesla which bursts into flame', '3', '1', '-', '2', '-', '1']
['447', '2024', '9/16/2024', 'USA', 'NY', 'Tesla explodes after crashing into apartment building', '2', '1', '1', '-', '-', '1']
['446', '2024', '9/14/2024', 'USA', 'NJ', 'Tesla Model S veers off road, driver and 2 passengers killed.', '3', '1', '2', '-', '-', '2']
['445.1', '2024', '9/12/2024', 'Austria', '-', 'Kia and Tesla collide', '1', '-', '-', '-', '-', '-']
['445', '2024', '9/9/2024', 'Canada', '-', 'Tesla taxi leaves road, collides with trees. Under investigation.', '1', '1', '-', '-', '-', '-']
['444.3', '2024', '9/7/2024', 'USA', 'AL', 'Multi-car accident', '1', '1', '-', '-', '-', '1']
['444.2', '2024', '9/3/2024', 'USA', 'CA', 'Cars go over cliff', '1', '-', '-', '1', '-', '-']
['444.1', '2024', '9/2/2024', 'USA', 'CA', 'Pickup hits Tesla', '2', '-', '-', '2', '-', '-']
['444', '2024', '9/1/2024', 'USA', 'CA', 'Tesla DUI hits other car', '1', '-', '-', '1', '-', '-']
['443', '2024', '9/1/2024', 'Germany', '-', 'Car hit during road race', '1', '-', '-', '1', '-', '-']
['442', '2024', '8/27/2024', 'UK', '-', 'Pedestrian hit', '1', '-', '-', '-', '1', '1']
['441', '2024', '8/27/2024', 'USA', 'OR', 'Head-on collision', '1', '1', '-', '-', '-', '1']
['440', '2024', '8/26/2024', 'USA', 'CA', 'Pickup hits Tesla', '2', '1', '1', '-', '-', '2']
['439', '2024', '8/23/2024', 'USA', 'FL', 'DUI', '1', '1', '-', '-', '-', '1']
['438', '2024', '8/20/2024', 'USA', 'NJ', 'Tesla hits tree', '1', '-', '1', '-', '-', '1']
['437', '2024', '8/18/2024', 'USA', 'NJ', 'Tesla hits tree, catches on fire', '1', '1', '-', '-', '-', '1']
['436.1', '2024', '8/11/2024', 'USA', 'FL', 'Mult-car accident caused by Tesla speeding', '2', '-', '-', '2', '-', '-']
['436', '2024', '8/10/2024', 'USA', 'CA', 'Head-on collision', '1', '-', '1', '-', '-', '1']
['435', '2024', '8/5/2024', 'USA', 'TX', 'Cybertruck crashes, ignites', '1', '1', '-', '-', '-', '1']
['434.1', '2024', '7/22/2024', 'USA', 'CA', 'Pedestrian on highway hit', '1', '-', '-', '-', '1', '1']
['434', '2024', '7/21/2024', 'USA', 'OR', 'Multi-car accident', '2', '-', '-', '2', '-', '-']
['433.1', '2024', '7/14/2024', 'USA', 'OK', 'Tesla hits ejected passenger', '1', '-', '-', '1', '-', '-']
['433', '2024', '7/10/2024', 'USA', 'IN', 'Tesla and truck collide', '1', '1', '-', '-', '-', '1']
['432', '2024', '7/1/2024', 'USA', 'NM', 'Tesla hit by drunk driver', '1', '1', '-', '-', '-', '1']
['431.1', '2024', '6/29/2024', 'USA', 'IN', 'DUI collision', '1', '-', '-', '1', '-', '-']
['431', '2024', '6/29/2024', 'USA', 'CA', 'Multi-vehicle accident', '1', '1', '-', '-', '-', '1']
['430', '2024', '6/29/2024', 'UK', '-', 'Bus and Tesla collide', '1', '-', '1', '-', '-', '1']
['429', '2024', '6/27/2024', 'USA', 'MA', 'Tesla hits tree, catches on fire', '1', '1', '-', '-', '-', '1']
['428', '2024', '6/20/2024', 'USA', 'FL', 'Tesla crashes into tree, goes up in flames', '1', '1', '-', '-', '-', '1']
['427', '2024', '6/17/2024', 'Estonia', '-', 'Tesla runs into tractor trailer', '1', '1', '-', '-', '-', '1']
['426', '2024', '6/14/2024', 'USA', 'CA', 'Scooter hit by Tesla', '1', '-', '-', '1', '-', '-']
['425', '2024', '6/11/2024', 'USA', 'CA', 'Tesla flips', '3', '-', '3', '-', '-', '-']
['424', '2024', '6/9/2024', 'USA', 'CA', 'Pedestrian hit', '1', '-', '-', '-', '1', '1']
['423.1', '2024', '6/8/2024', 'USA', 'FL', 'Motorcycle hits Tesla', '1', '-', '-', '1', '-', '-']
['423', '2024', '6/3/2024', 'USA', 'TX', 'Tesla hits parked tractor-trailer', '1', '1', '-', '-', '-', '1']
['422', '2024', '6/1/2024', 'USA', 'MD', 'Tesla hit motorcycle', '1', '-', '-', '1', '-', '-']
['421', '2024', '5/29/2024', 'USA', 'WA', 'Tesla runs red light, collides with two cars', '1', '-', '-', '1', '-', '-']
['420', '2024', '5/26/2024', 'USA', 'FL', 'Tesla crashes into a support column and burns', '1', '1', '-', '-', '-', '1']
['419', '2024', '5/24/2024', 'Germany', '-', 'Tesla crashes under bridge, burns', '1', '1', '-', '-', '-', '1']
['418', '2024', '5/23/2024', 'UK', '-', 'Three-way crash', '1', '1', '-', '-', '-', '1']
['417', '2024', '5/22/2024', 'USA', 'WA', 'Tesla crashes offroad', '1', '1', '-', '-', '-', '1']
['416', '2024', '5/19/2024', 'USA', 'WI', 'DUI', '1', '-', '-', '1', '-', '-']
['415', '2024', '5/11/2024', 'USA', 'CA', 'Car crashes into house', '3', '1', '2', '-', '-', '3']
['414.1', '2024', '5/7/2024', 'Taiwan', '-', 'Tesla loses control and crashes', '2', '1', '1', '-', '-', 'S']
['414', '2024', '5/7/2024', 'USA', 'CA', 'Car goes off cliff', '1', '1', '-', '-', '-', '1']
['413', '2024', '5/4/2024', 'USA', 'CA', 'Tesla hits pole', '1', '1', '-', '-', '-', '1']
['412', '2024', '4/27/2024', 'China', '-', 'Tesla falls off cliff', '2', '1', '1', '-', '-', '2']
['411', '2024', '4/26/2024', 'USA', 'MO', 'Head-on collision', '1', '-', '-', '1', '-', '-']
['410.1', '2024', '4/22/2024', 'Germany', '-', 'Tesla hits bicyclist', '1', '-', '-', '-', '1', '1']
['410', '2024', '4/19/2024', 'USA', 'WA', 'Tesla runs into motorcycle', '1', '-', '-', '1', '-', '-']
['409', '2024', '4/7/2024', 'USA', 'CA', 'Tesla drives in wrong direction, hits cars', '1', '-', '-', '1', '-', '-']
['408', '2024', '4/2/2024', 'USA', 'GA', 'Multi-car crash', '1', '-', '-', '-', '-', '-']
['407', '2024', '4/1/2024', 'USA', 'OH', 'Tesla runs stop sign', '2', '-', '-', '2', '-', '-']
['406', '2024', '3/24/2024', 'USA', 'IN', 'Tesla hits embankment', '1', '1', '-', '-', '-', '1']
['405', '2024', '3/22/2024', 'USA', 'AZ', 'Tesla collides with car head-on', '1', '-', '-', '1', '-', '-']
['404', '2024', '3/18/2024', 'USA', 'FL', 'Tesla hits pedestrian', '1', '-', '-', '-', '1', '1']
['403', '2024', '2/21/2024', 'USA', 'GA', 'Multi-car crash', '2', '-', '-', '2', '-', '-']
['402', '2024', '2/21/2024', 'USA', 'CA', 'Tesla hits pedestrian', '1', '-', '-', '-', '1', '1']
['401', '2024', '2/20/2024', 'USA', 'UT', 'Car crashes into turning Tesla', '1', '-', '1', '-', '-', '1']
['400', '2024', '2/18/2024', 'Canada', '-', 'SUV hits Tesla on highway', '1', '-', '1', '-', '-', '1']
['399', '2024', '2/14/2024', 'USA', 'CA', 'Tesla hits pole, catches fire', '1', '1', '-', '-', '-', '1']
['398', '2024', '2/14/2024', 'USA', 'CA', 'Tesla driver has "health incidentt"', '1', '1', '-', '-', '-', '1']
['397', '2024', '2/14/2024', 'UK', '-', 'Mult-car accident', '2', '1', '1', '-', '-', '2']
['396', '2024', '2/11/2024', 'USA', 'TX', 'Tesla backs into pond', '1', '1', '-', '-', '-', '1']
['395', '2024', '2/11/2024', 'USA', 'CA', 'Tesla hits pole, ignites', '1', '1', '-', '-', '-', '1']
['394', '2024', '2/7/2024', 'USA', 'PA', 'Tesla crashes into turning car', '1', '-', '-', '1', '-', '-']
['393', '2024', '2/1/2024', 'USA', 'CA', 'Tesla hits pedestrian', '1', '-', '-', '-', '1', '1']
['392', '2024', '1/28/2024', 'USA', 'CA', 'Tesla hits railing', '1', '1', '-', '-', '-', '-']
['391', '2024', '1/26/2024', 'USA', 'CT', 'Tesla hits tree', '1', '1', '-', '-', '-', '-']
['390.1', '2024', '1/24/2024', 'Germany', '-', 'Tesla hits pedestrian leaving car crash', '1', '-', '-', '-', '1', '1']
['390', '2024', '1/24/2024', 'USA', 'PA', 'Tesla rolls over and crashes into creek', '1', '1', '-', '-', '-', '-']
['389.1', '2024', '1/19/2024', 'Germany', '-', 'Tesla crashes into car', '1', '-', '-', '1', '-', '1']
['389', '2024', '1/16/2024', 'USA', 'FL', 'Tesla goes airborne and hits tree', '1', '1', '-', '-', '-', '-']
['388', '2024', '1/12/2024', 'USA', 'CA', 'Multi-car accident', '2', '-', '-', '2', '-', '-']
['387', '2024', '1/7/2024', 'USA', 'TX', 'Speeding Tesla hits car', '1', '1', '-', '-', '-', '1']
['386.1', '2024', '1/5/2024', 'USA', 'CA', 'Three-way crash', '1', '-', '-', '1', '-', '-']
['386', '2023', '12/31/2023', 'USA', 'CA', 'Tesla hits man lying in road', '1', '-', '-', '-', '1', '1']
['385', '2023', '12/29/2023', 'USA', 'WY', 'Tesla crosses into incoming traffic, hit, and spins off road', '1', '-', '1', '-', '-', '1']
['384', '2023', '12/28/2023', 'USA', 'NJ', 'Multi-car accident', '1', '-', '-', '1', '-', '-']
['383', '2023', '12/24/2023', 'USA', 'CA', 'DUI hit and run', '1', '-', '-', '-', '1', '1']
['382', '2023', '12/20/2023', 'USA', 'GA', 'Tesla crashes into telephone pole, ignites', '2', '1', '1', '-', '-', '2']
['381', '2023', '12/16/2023', 'USA', 'CA', 'Tesla hits highway divider', '1', '1', '-', '-', '-', '1']
['380', '2023', '12/14/2023', 'USA', 'CA', 'Tesla crashes into trees', '1', '-', '-', '-', '-', '1']
['379', '2023', '12/4/2023', 'UK', '-', 'Truck and Tesla collide', '1', '1', '-', '-', '-', '1']
['378', '2023', '11/30/2023', 'USA', 'AR', 'Tesla hit other car on highway', '2', '-', '1', '1', '-', '1']
['377.1', '2023', '11/27/2024', 'USA', 'AZ', 'Pedestrian killed', '1', '-', '-', '-', '1', '1']
['377', '2023', '11/15/2023', 'USA', 'NC', 'Moped runs into Tesla', '1', '-', '-', '1', '-', '-']
['376.1', '2023', '11/14/2023', 'USA', 'MN', 'Hit and run', '1', '-', '-', '-', '1', '1']
['376', '2023', '11/4/2023', 'USA', 'WA', 'Tesla rolls over and hits enbankment', '1', '1', '-', '-', '-', '-']
['375', '2023', '11/3/2023', 'USA', 'FL', 'Tesla hits a dislodged motorcyclist', '1', '-', '-', '-', '1', '1']
['374', '2023', '10/30/2023', 'USA', 'NY', 'Tesla hits multiple cars', '1', '-', '1', '-', '-', '-']
['373', '2023', '10/30/2023', 'USA', 'NY', 'DUI', '1', '-', '-', '1', '-', '-']
['372', '2023', '10/26/2023', 'USA', 'CA', 'Motorcycle crashes into Tesla', '1', '-', '-', '1', '-', '-']
['371', '2023', '10/14/2023', 'UK', '-', 'Cyclist hit by Tesla', '1', '-', '-', '-', '1', '1']
['370', '2023', '10/14/2023', 'USA', 'WA', 'Car hit by oncoming Tesla', '1', '-', '-', '1', '-', '-']
['369', '2023', '10/14/2023', 'USA', 'CA', 'Stolen Tesla hits minivan', '2', '1', '-', '1', '-', '1']
['368', '2023', '10/13/2023', 'USA', 'CA', 'Tesla hits divider and tree, ignites', '2', '1', '1', '-', '-', '2']
['367.1', '2023', '10/12/2023', 'USA', 'SC', 'Tesla hits trees, catches fire', '1', '1', '-', '-', '-', '-']
['367', '2023', '10/10/2023', 'USA', 'MA', 'Tesla hits car making u-turn', '1', '-', '-', '1', '-', '-']
['366', '2023', '10/4/2023', 'USA', 'CA', 'Head-on collision, Tesla catches fire', '1', '1', '-', '-', '-', '1']
['365', '2023', '10/2/2023', 'USA', 'CA', 'Tesla heading in wrong direction collides with car', '2', '1', '-', '1', '-', '1']
['364', '2023', '9/30/2023', 'USA', 'CA', 'Tesla hits pole', '1', '1', '-', '-', '-', '1']
['363', '2023', '9/25/2023', 'USA', 'VA', 'Rear-end car crash', '1', '-', '-', '1', '-', '-']
['361', '2023', '9/24/2023', 'USA', 'PA', 'Collision', '3', '-', '-', '-', '-', '-']
['360', '2023', '9/4/2023', 'USA', 'VA', 'Motorcycle and Tesla head-on collide', '1', '-', '-', '1', '-', '-']
['359', '2023', '9/1/2023', 'USA', 'ID', 'Tesla crosses center line and hits oncoming car', '4', '1', '2', '1', '-', '4']
['358', '2023', '8/29/2023', 'USA', 'TX', 'Tesla crashes into wall of hospital', '2', '1', '1', '-', '-', '2']
['357.2', '2023', '8/14/2023', 'New Zealand', '-', 'Tesla crashes into tree, ignites', '1', '1', '-', '-', '-', '1']
['357.1', '2023', '8/14/2023', 'UK', '-', 'Tesla hits bicyclist', '1', '-', '-', '-', '1', '1']
['357', '2023', '8/13/2023', 'USA', 'NJ', 'Motorcycle hits Tesla', '1', '-', '-', '1', '-', '-']
['356', '2023', '8/12/2023', 'Germany', '-', 'Tesla hits guardrail and burns', '1', '1', '-', '-', '-', '1']
['355', '2023', '8/12/2023', 'USA', 'CA', 'Multi-car accident involving semi', '1', '-', '-', '-', '-', '-']
['354.1', '2023', '8/7/2023', 'USA', 'FL', 'Tesla collides with pickup', '1', '1', '-', '-', '-', '1']
['354', '2023', '8/1/2023', 'USA', 'CA', 'Motorcycle hits Tesla', '1', '-', '-', '1', '-', '-']
['353', '2023', '7/31/2023', 'USA', 'TX', 'Hit and run', '1', '-', '-', '-', '1', '1']
['352', '2023', '7/29/2023', 'USA', 'UT', 'Tesla crashes into tree, burns', '3', '1', '2', '-', '-', '3']
['351', '2023', '7/29/2023', 'USA', 'TX', 'Tesla crashes into tree, burns', '1', '1', '-', '-', '-', '1']
['350.1', '2023', '7/26/2023', 'USA', 'CA', 'Tesla falls from height', '1', '1', '-', '-', '-', '1']
['350', '2023', '7/22/2023', 'USA', 'NC', 'Tesla crashes into trees', '1', '1', '-', '-', '-', '1']
['349', '2023', '7/20/2023', 'USA', 'CA', 'Multi-car accident', '1', '-', '-', '-', '-', '-']
['348', '2023', '7/19/2023', 'USA', 'VA', 'Tesla crashes into side of truck', '1', '1', '-', '-', '-', '1']
['346', '2023', '7/16/2023', 'USA', 'FL', 'Tesla runs off road and crashes into pole', '1', '1', '-', '-', '-', '1']
['345', '2023', '7/8/2023', 'USA', 'MN', 'Speeding Tesla crashes into minivan', '1', '-', '-', '1', '-', '-']
['344', '2023', '7/8/2023', 'USA', 'CA', 'Tesla crashes in parking lot', '3', '1', '2', '-', '-', '3']
['343', '2023', '7/8/2023', 'Germany', '-', 'Tesla crashes into trees', '1', '1', '-', '-', '-', '1']
['342.2', '2023', '7/7/2023', 'USA', 'CA', 'Tesla hits fire hydrant and burns', '2', '1', '1', '-', '-', '2']
['342.1', '2023', '7/7/2023', 'USA', 'CA', 'Multi Car accident involving DUI', '1', '-', '-', '1', '-', '-']
['342', '2023', '7/5/2023', 'USA', 'CA', 'Collision', '2', '-', '1', '1', '-', '1']
['341', '2023', '7/4/2023', 'USA', 'FL', 'Tesla crashes into divider', '1', '1', '-', '-', '-', '1']
['340', '2023', '7/1/2023', 'Italy', '-', 'Tesla drives into opposite lane', '1', '-', '-', '1', '-', '-']
['339', '2023', '7/1/2023', 'France', '-', 'Tesla hits tree', '1', '1', '-', '-', '-', '1']
['`', '2023', '6/29/2023', 'USA', 'NY', 'Tesla crashes into house, explodes', '2', '1', '-', '-', '-', '1']
['337.1', '2023', '6/26/2023', 'USA', 'WA', 'Tesla hits trees, ignites', '1', '1', '-', '-', '-', '-']
['337', '2023', '6/26/2023', 'USA', 'CA', 'Tesla t-bones car', '1', '-', '-', '1', '-', '-']
['336', '2023', '6/22/2023', 'USA', 'MD', 'Tesla crashes into divider', '1', '1', '-', '-', '-', '-']
['335.1', '2023', '6/20/2023', 'USA', 'CA', 'Car collides with Tesla', '1', '-', '-', '1', '-', '-']
['335', '2023', '6/15/2023', 'USA', 'FL', 'Tesla loses control and hits divider', '1', '1', '-', '-', '-', '-']
['334', '2023', '6/14/2023', 'USA', 'CA', 'Tesla loses control and hits tree, catches fire', '2', '1', '1', '-', '-', '-']
['333', '2023', '6/13/2023', 'USA', 'CA', 'Tesla rolls off road and hits culvert', '1', '1', '-', '-', '-', '-']
['332', '2023', '6/11/2023', 'USA', 'NY', 'Tesla rolls off road', '4', '1', '3', '-', '-', '4']
['331', '2023', '6/11/2023', 'USA', 'MA', 'Motorcycle crashes into Tesla', '1', '-', '-', '1', '-', '-']
['330', '2023', '6/7/2023', 'USA', 'NY', 'Tesla hits pedestrian', '1', '-', '-', '-', '1', '1']
['329', '2023', '6/6/2023', 'USA', 'OR', 'Tesla drifts off interstate, hits tree, catches fire', '1', '1', '-', '-', '-', '1']
['328', '2023', '5/31/2023', 'USA', 'CA', 'SUV and Tesla collide', '2', '1', '-', '1', '-', '1']
['327', '2023', '5/28/2023', 'USA', 'IL', 'Tesla hits ejected motorcyclist', '1', '-', '-', '-', '1', '1']
['326.1', '2023', '5/24/2023', 'USA', 'FL', 'Tesla t-bones car', '1', '1', '3', '-', '-', '-']
['326', '2023', '5/23/2023', 'USA', 'CT', 'Tesla crashes in nine cars', '1', '1', '-', '-', '-', '1']
['325', '2023', '5/22/2023', 'USA', 'GA', 'Tesla crashes into woods, catches fire', '2', '1', '1', '-', '-', '2']
['324.1', '2023', '5/15/2023', 'UK', '-', 'Cyclist hit by Tesla', '1', '-', '-', '-', '1', '1']
['324', '2023', '5/14/2023', 'USA', 'CA', 'SUV filled with family members and Tesla collide', '3', '-', '-', '3', '-', '-']
['323', '2023', '5/13/2023', 'USA', 'OR', 'Tesla collides with tow truck', '1', '1', '-', '-', '-', '1']
['322', '2023', '5/7/2023', 'Ireland', '-', 'Tesla and motorbike collide', '1', '-', '-', '1', '-', '-']
['321', '2023', '5/5/2023', 'USA', 'CA', 'Motorcycle crashes into Tesla', '1', '-', '-', '1', '-', '-']
['320', '2023', '5/5/2023', 'Taiwan', '-', 'Tesla hits barrier, DUI', '2', '1', '1', '-', '-', '2']
['319', '2023', '4/30/2023', 'USA', 'NJ', 'Collision', '1', '-', '-', '1', '-', '-']
['318', '2023', '4/25/2023', 'USA', 'CA', 'Tesla hits electric bike', '1', '-', '-', '-', '1', '1']
['317', '2023', '4/23/2023', 'USA', 'CA', 'Multi Car crash', '2', '-', '-', '2', '-', '-']
['316', '2023', '4/18/2023', 'USA', 'CT', 'Tesla hits car, car crashes into median', '1', '-', '-', '1', '-', '-']
['315', '2023', '4/17/2023', 'USA', 'TX', 'Two car collision', '1', '1', '1', '-', '-', '1']
['314', '2023', '4/14/2023', 'USA', 'AL', 'Tesla crashes into semi', '2', '1', '1', '-', '-', '2']
['313', '2023', '4/3/2023', 'USA', 'CA', 'Fiery crash', '1', '-', '1', '-', '-', '1']
['312.1', '2023', '3/28/2023', 'USA', 'CA', 'Pickup hits Tesla', '1', '-', '-', '-', '1', 'Y']
['312', '2023', '3/25/2023', 'USA', 'CA', 'Hit and run', '1', '-', '-', '-', '1', '1']
['311.1', '2023', '3/15/2023', 'USA', 'NJ', 'Tesla hits tree during snow storm, ignites', '1', '1', '-', '-', '-', '1']
['311', '2023', '3/12/2023', 'USA', 'UT', 'Car hits Tesla that crashed into cable barrier; inclement weather', '1', '-', '-', '1', '-', '-']
['310', '2023', '2/25/2023', 'USA', 'MO', 'Tesla hits turning car', '1', '-', '-', '1', '-', '-']
['309', '2023', '2/25/2023', 'USA', 'CA', 'Collision', '2', '1', '1', '-', '-', '2']
['308', '2023', '2/21/2023', 'USA', 'DC', 'Multi-car crash', '1', '1', '-', '-', '-', '1']
['307', '2023', '2/20/2023', 'USA', 'ID', 'Tesla drives into embankment', '1', '1', '-', '-', '-', '1']
['306', '2023', '2/20/2023', 'USA', 'CA', 'Tesla drives into opposite lane', '3', '-', '2', '1', '-', '2']
['305', '2023', '2/18/2023', 'USA', 'CA', 'Tesla crashes into fire truck', '1', '1', '-', '-', '-', '1']
['304', '2023', '2/17/2023', 'China', '-', 'Tesla lands on front end, crashes into vehicles', '1', '-', '1', '-', '-', '-']
['303', '2023', '2/17/2023', 'USA', 'NY', 'Tesla collides with car head-on', '4', '1', '1', '2', '-', '2']
['302', '2023', '2/15/2023', 'USA', 'CO', 'Four vehicle collision', '1', '-', '-', '1', '-', '-']
['301', '2023', '2/14/2023', 'USA', 'NJ', 'Pickup hits Tesla', '1', '-', '-', '1', '-', '-']
['300', '2023', '2/7/2023', 'USA', 'TN', 'Two-car collision', '2', '1', '1', '-', '-', '2']
['299', '2023', '1/31/2023', 'USA', 'PA', 'Speeding Tesla hits pedestrian', '1', '-', '-', '-', '1', '1']
['298', '2023', '1/30/2023', 'USA', 'MO', 'Speeding Tesla crashes into car', '1', '-', '-', '1', '-', '-']
['297', '2023', '1/21/2023', 'USA', 'CA', "Tesla crashes into resident's pool", '1', '1', '-', '-', '-', '1']
['296', '2023', '1/17/2023', 'USA', 'CA', 'Tesla crashes into back of semi', '1', '1', '-', '-', '-', '1']
['295', '2023', '1/7/2023', 'Canada', '-', 'Tesla crashes', '1', '1', '-', '-', '-', '1']

There were some challenges arranging the data in the right way.

-  ~~The urls in the table are truncated, which means simply finding the text would not suffice.~~ Changed approach to `tr` instead of `td`. Extracted the first 12 columns which is what we really need.

~~-   There are more than **one** URL per row. There are numbers in the table are _hyperlinked_ which means there are more URLs than are rows, which makes it difficult to simply find all the `a` tags and plug them into the table at the right index while looping through all the elements in `table_data`. Speaking of which...~~

~~-   The collection of elements in `table_data` is simply a dump of the table; not by row. There are 23 columns in the table therefore, for each 23 elements found from the beginning is one row.~~

Mandatory conversion to DataFrame

In [75]:
import pandas as pd

df = pd.DataFrame(rows, columns=table_headers)
# Converting necessary columns from str to int values
int_value_columns = df.columns[6:12]
df[int_value_columns] = (
    df[int_value_columns].apply(pd.to_numeric, errors="coerce").fillna(0).astype("int")
)

df.dtypes

Case #              object
Year                object
Date                object
Country             object
State               object
Description         object
Deaths               int64
Tesla driver         int64
Tesla occupant       int64
Other vehicle        int64
Cyclists/ Peds       int64
TSLA+cycl / peds     int64
dtype: object

In [76]:
df.head()

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds
0,458,2024,10/16/2024,USA,CA,Head-on collision,1,0,0,1,0,0
1,457,2024,10/15/2024,USA,CA,Tesla crashes into apartment building,1,1,0,0,0,1
2,456,2024,10/14/2024,Korea,-,"Tesla crashes, burns",1,1,0,0,0,1
3,455,2024,10/13/2024,France,-,Tesla ignites for undetermined reason,4,1,3,0,0,4
4,454,2024,10/7/2024,Australia,-,Head-on collision on highway,1,1,0,0,0,0

In [77]:
df.tail(15)

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds
487,4,2014,7/4/2014,USA,CA,Thief crashes stolen Tesla,1,1,0,0,0,1
488,3,2014,7/4/2014,USA,CA,Tesla rear ends stopped car,3,0,0,3,0,0
489,2,2013,11/2/2013,USA,CA,Tesla kills cyclist,1,0,0,0,1,1
490,1,2013,4/2/2013,USA,CA,Tesla veers into opposite lane,2,0,0,2,0,0
491,,None,None,None,None,None,0,0,0,0,0,0
492,International,140,45,19,53,18,95,8,3,0,0,0
493,USA,474,165,81,170,42,266,47,40,48,0,0
494,Total,614,210,100,223,60,361,55,40,51,0,0
495,,None,None,None,None,None,0,0,0,0,0,0
496,116,143,119,None,None,None,0,0,0,0,0,0
497,2024,2023,2022,None,None,None,0,0,0,0,0,0
498,Number of deaths,3,3,6,5,16,11,21,51,47,76,0
499,Year,2013,2013,2014,2015,2016,2017,2018,2019,2020,2021,0
500,,None,None,None,None,None,0,0,0,0,0,0
501,"Note: AutoPilot released Oct 14, 2015",None,None,None,None,None,0,0,0,0,0,0

In [78]:
cutoff_point = df[df["Case #"] == "1"].index.values[0] + 1

In [79]:
df = df.iloc[:cutoff_point]
df

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds
0,458,2024,10/16/2024,USA,CA,Head-on collision,1,0,0,1,0,0
1,457,2024,10/15/2024,USA,CA,Tesla crashes into apartment building,1,1,0,0,0,1
2,456,2024,10/14/2024,Korea,-,"Tesla crashes, burns",1,1,0,0,0,1
3,455,2024,10/13/2024,France,-,Tesla ignites for undetermined reason,4,1,3,0,0,4
4,454,2024,10/7/2024,Australia,-,Head-on collision on highway,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
486,5,2014,7/14/2014,USA,CA,Tesla kills motorcyclist,1,0,0,1,0,0
487,4,2014,7/4/2014,USA,CA,Thief crashes stolen Tesla,1,1,0,0,0,1
488,3,2014,7/4/2014,USA,CA,Tesla rear ends stopped car,3,0,0,3,0,0
489,2,2013,11/2/2013,USA,CA,Tesla kills cyclist,1,0,0,0,1,1
490,1,2013,4/2/2013,USA,CA,Tesla veers into opposite lane,2,0,0,2,0,0

Played around with the new library `Polars`  which is supposed to be [`faaaast`](https://www.youtube.com/shorts/6E7ZGCfruaw). It is indeed, or should be in theory. `Polars` store data in DataFrames in _columnar_ format as opposed to the classical row format _Pandas_  uses.

In [1]:
# import polars as pl

# pl_rows = pl.DataFrame(rows)
# pl_rows

In [81]:
df.dtypes

Case #              object
Year                object
Date                object
Country             object
State               object
Description         object
Deaths               int64
Tesla driver         int64
Tesla occupant       int64
Other vehicle        int64
Cyclists/ Peds       int64
TSLA+cycl / peds     int64
dtype: object

Converting from `mm/dd/yyyy` to `dd/mm/yyyy`. It is possible to convert them into `datetime` objects.

In [82]:
df["Date"]

0      10/16/2024
1      10/15/2024
2      10/14/2024
3      10/13/2024
4       10/7/2024
          ...
486     7/14/2014
487      7/4/2014
488      7/4/2014
489     11/2/2013
490      4/2/2013
Name: Date, Length: 491, dtype: object

In [83]:
from datetime import datetime
import logging

logging.basicConfig(format="%(asctime)s %(levelname)s: %(message)s", level=logging.INFO)


def convert_datestring(date_string):
    try:
        date_object = datetime.strptime(date_string, "%m/%d/%Y")
        return date_object.strftime("%Y-%m-%d")
    except ValueError as e:
        logging.warning(f"Could not convert {date_string} into datetime object: {e}")
        logging.info("Assigning a random date.")
        date_parts = date_string.split("/")
        for index, date_part in enumerate(date_parts):
            try:
                int(date_part)
            except ValueError:
                date_parts[index] = "12"
                return convert_datestring("/".join(date_parts))


df["Date"] = df["Date"].apply(convert_datestring)

2024-11-01 20:49:34,029 WARNING:Could not convert 9/-/2022 into datetime object: time data '9/-/2022' does not match format '%m/%d/%Y'
2024-11-01 20:49:34,031 INFO:Assigning a random date.
2024-11-01 20:49:34,033 WARNING:Could not convert 6/-/2022 into datetime object: time data '6/-/2022' does not match format '%m/%d/%Y'
2024-11-01 20:49:34,034 INFO:Assigning a random date.
2024-11-01 20:49:34,037 WARNING:Could not convert 1/-/2022 into datetime object: time data '1/-/2022' does not match format '%m/%d/%Y'
2024-11-01 20:49:34,038 INFO:Assigning a random date.
2024-11-01 20:49:34,041 WARNING:Could not convert 8/-/2019 into datetime object: time data '8/-/2019' does not match format '%m/%d/%Y'
2024-11-01 20:49:34,042 INFO:Assigning a random date.

In [84]:
df["Date"]

0      2024-10-16
1      2024-10-15
2      2024-10-14
3      2024-10-13
4      2024-10-07
          ...
486    2014-07-14
487    2014-07-04
488    2014-07-04
489    2013-11-02
490    2013-04-02
Name: Date, Length: 491, dtype: object

Now let's convert the dates into a datetime object

In [85]:
df["Date"] = pd.to_datetime(df["Date"])
df["Date"]

0     2024-10-16
1     2024-10-15
2     2024-10-14
3     2024-10-13
4     2024-10-07
         ...
486   2014-07-14
487   2014-07-04
488   2014-07-04
489   2013-11-02
490   2013-04-02
Name: Date, Length: 491, dtype: datetime64[ns]

`Holland` and `Netherlands` appear in the list of countries, although they are the same! Replacing the former with the latter.

In [86]:
df["Country"].replace({"Holland": "Netherlands"}, inplace=True)

Finally! Write the data out to a `.csv` file.

In [87]:
df.to_csv("./data.csv", index=None)

`dtypes` change when reading from `csv`, as it tries to infer the data type for each column. For example, the year converts to `int64`. It is possible to change the `dtype` into something else by passing the `dtype` argument in `read_csv` using a `key-value` of a column name and desired `dtype`.

In [88]:
df = pd.read_csv("./data.csv")
df.dtypes

Case #              object
Year                 int64
Date                object
Country             object
State               object
Description         object
Deaths               int64
Tesla driver         int64
Tesla occupant       int64
Other vehicle        int64
Cyclists/ Peds       int64
TSLA+cycl / peds     int64
dtype: object

In [148]:
df = pd.read_csv("./data.csv", dtype={"Case #": str, "Year": str, "Date": str})
df.dtypes

Case #              object
Year                object
Date                object
Country             object
State               object
Description         object
Deaths               int64
Tesla driver         int64
Tesla occupant       int64
Other vehicle        int64
Cyclists/ Peds       int64
TSLA+cycl / peds     int64
dtype: object

In [89]:
# Last updated on
import re

pattern = re.compile("\d{4}-\d{2}-\d{2}")
html = r.html.find("em")

last_updated_on = []
for em in html:
    match = pattern.search(em.text)
    if match:
        last_updated_on.append(match.group())

last_updated_on

['2024-10-20']